<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions nécessaires -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Déclaration du service foreground pour la capture d'écran -->
        <service
            android:name="dev.remotearch.screencapture.ScreenCaptureService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
